<!DOCTYPE html>
<html lang="es">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <title>Agenda</title>
    </head>
        <body>
        <h1>Insertar Contacto</h1>

<form>

    <label>ID</label>
    <input type="text">

    <br><br>

    <label>Nombre</label>
    <input type="text">

    <br><br>

    <label>Primer Apellido</label>
    <input type="text">

    <br><br>

    <label>Segundo Apellido</label>
    <input type="text">

    <br><br>

    <label>Email</label>
    <input type="email">

    <br><br>

    <label>Teléfono</label>
    <input type="text">

    <br><br>

    <button>Aceptar</button>

</form>
</body>
</html>