<!DOCTYPE html>
<html lang="es">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <title>Agenda</title>
    </head>
    <body>
        <h1>Contacto</h1>
<form method = "POST">

<label>ID</label>
<input type="text" name="id_contacto" readonly> <br><br>

<br><br>

<label>Nombre</label>
<input type="text" name="nombre" readonly> <br><br>

<br><br>

<label>Primer Apellido</label>
<input type="text" name="primer_apellido" readonly> <br><br>

<br><br>

<label>Segundo Apellido</label>
<input type="text" name="segundo_apellido" readonly> <br><br>

<br><br>

<label>Email</label>
<input type="text" name="email" readonly> <br><br>

<br><br>

<label>Teléfono</label>
<input type="text" name="telefono" readonly> <br><br>

<br><br>
</form>
<a href="/lista_contactos">
    <button>Regresar</button>
</a>
    </body>
</html>