<!DOCTYPE html>
<html lang="es">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <title>Agenda</title>
    </head>    
    <body>
            <h1>Lista de Contactos</h1>

<a href="/insertar_contacto">
    <button>Nuevo</button>
</a>

<br><br>

<input type="text" placeholder="Buscar">

<button>Buscar</button>

<br><br>

<table border="1">

    <tr>
        <th>Nombre</th>
        <th>Primer Apellido</th>
        <th>Segundo Apellido</th>
        <th>Opciones</th>
    </tr>

</table>

<br>

<a href="/ver_contacto">
    <button>Ver</button>
</a>

<a href="/editar_contacto">
    <button>Editar</button>
</a>

<a href="/borrar_contacto">
    <button>Borrar</button>
</a>
    </body>
</html>